@{
    ViewBag.Title = "Home Page - Backend1";
}
<h1>Calc Service Demonstration</h1>
<ul>               
    <li><a asp-controller="CalculatorService" asp-action="Quiz">Quiz</a></li>
    <li><a asp-controller="CalculatorService" asp-action="QuizResult">QuizResult</a></li>
</ul>

